<html>
  <head>
    <style>
      .bordered {
      border-style:solid;
      border-width:1px;
      }
    </style>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  </head>
  <body>
    <center>
      <h1>Final Project Title</h1>
      <form class="pure-form" method="POST">
	<input id="counter" name="counter" type="hidden"></input>
	<fieldset>
	  <textarea name="a" rows="4" cols="50">Anonymous Text Goes Here!</textarea>
	  <br><br>
	  <div id="comp">
	    <textarea name="1" rows="4" cols="50">Comparison Text #1 Goes Here!</textarea>
	  </div>
	  <br><br>
	  <button type="button" class="pure-button" id="add">Add A Text Field!</button>
	  <br><br>
	  <input class="pure-button pure-button-primary" type="submit" value="Submit"></input>
	</fieldset>
      </form>
    </center>
    <script src="index.js"></script>
  </body>
</html>
